.panel-result {
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: @table-border-color;
    
    .border-top-radius(@panel-border-radius - 1);
    .border-bottom-radius(0);
    
    & ~ & {
        border-top: 0;
        .border-top-radius(0);
    }
    
    .panel-heading {
        padding: 5px 10px 0 10px;
        
        .panel-title {
            font-size: ceil((@font-size-base * 0.975));
            
            a {
                color: @brand-primary;
            }
        }
    }
    
    .panel-body {
        padding: 5px 10px 5px 10px;
        font-size: ceil((@font-size-base * 0.875));
    }
    
    .panel-footer {
        padding: 5px 10px 5px 10px;
    }
    
    &:nth-child(even) {
        background: @dbt-results-backgroundColor;
        
        .panel-footer {
            background: darken(@dbt-results-backgroundColor, 4%);
        }
    }
    
    &:nth-child(odd) {
        background: darken(@dbt-results-backgroundColor, 2%);
        
        .panel-footer {
            background: darken(@dbt-results-backgroundColor, 8%);
        }
    }
    
    &:last-child {
        border-bottom: 1px solid @table-border-color;
        margin-bottom: @line-height-computed;
        
        .border-bottom-radius(@panel-border-radius - 1);
    }   
}
