.dropdown-menu {
  .dropdown-item {
    a {
      color: $body-color;
      display: block; //larger area to click while size is the same
    }

    &:hover, &:focus {
      a {
        color: darken($body-color, 40%);
      }
    }

    &.active a, &:active a {
      color: #fff;
    }
  }
}
