div.detail_row {
  h3.card-title {
    font-size: 1.15rem;
    margin-bottom: 0;
  }
}

#aux_col {
  .card:nth-child(1n+2) {
    @extend .my-2;
  }
}

#head_col {
  #badges {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: visible;
    float: left;
    height: 25px;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    @include hide-scrollbar ();

    * {
      display: inline;
      margin-right: 5px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}

.file_box {
  .file_toggle {
    box-shadow: none;
  }

  .options {
    .btn {
      box-shadow: none;
    }
  }
}

#mir-thumbnail-panel {
  img {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  }
}

#badges {
  .doc_state {
    .mir-deleted {
      color: $badge-state-delete-color;
      background-color: $badge-state-delete-bg;
    }
    span {
      background-color: $badge-state-delete-span-bg;
    }
  }
}