div.result_searchline {
  form.search_form {
    .input-group-sm {
      .btn, .form-control {
        font-size: 1rem;
      }

      .fa-search {
        margin-right: 0.4rem;
      }
    }
  }
}

.result_body {
  @extend .flex-column-reverse;
  @extend .flex-md-row;

  .result-filter {
    float: unset;

    .card {
      @media (min-width: 768px) {
        min-width: 339px;
        max-width: 340px;
      }
    }
  }
}