* {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
}
/* style rule to wrap the text inside the tags for preformatted text.*/
pre {
	white-space: -moz-pre-wrap;
}

/*   about dialog   */
.aboutBoxLabel {
	left: 10px;
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
}

#cover {
	background-color: #ffffff;
}

#aboutBox {
	padding: 0px;
	margin-top: -8px;
	margin-left: -8px;
	border: 0px;
}

#lblVersion {
	left: 11px;
	top: 120px;
	font-weight: bold;
}

#lblFileVersion {
	top: 131px;
}

#lblFirmName {
	top: 148px;
}

#lblFirmStreet {
	top: 159px;
}

#lblFirmTown {
	top: 170px;
}

#lblCopyright {
	top: 191px;
}