/*
 * Animation Styles
 */
@keyframes flipOutX{
    0% {
        transform:perspective(400px) rotateX(0deg);
        opacity:0;
    }
    
    100% {
        transform:perspective(400px) rotateX(90deg);
        opacity:1;
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotateX(-10deg);
    }

    70% {
        transform: perspective(400px) rotateX(10deg);
    }

    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    
    &.fast {
        animation-duration: 0.5s;
    }
    
    // Animations
    &.flipOutX {
        backface-visibility: visible !important;
        animation-name: flipOutX;
    }
    
    &.flipInX {
        backface-visibility: visible ! important;
        animation-name: flipInX
    }
}
