@use "sass:color";

// GLOBAL STYLES
//--------------------------------------------------

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover,
a:focus {
  text-decoration: none;
}

body {
  background-color: $body-bg-color;
  backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  hyphens: auto;
}

.hyphens {
  hyphens: auto;
}

.btn {
  @include box-shadow(0 -2px 0 rgba(0, 0, 0, 0.05) inset);

  &.btn-outline-secondary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
}

/**
 * Min Width Helper
 */
.minw-0 {
  min-width: 0;
}

.minw-25 {
  min-width: 25%;
}

.minw-50 {
  min-width: 50%;
}

.minw-75 {
  min-width: 75%;
}

#main_content {
  background-color: $content-bg-color;
  margin-top: $navbar-height * 2;
  padding-top: $content-padding-top;
  padding-bottom: 30px;
  height: 100%;

  @include media-breakpoint-up($float-breakpoint) {
    padding-top: $content-padding-top * 2;
  }
}

#page {
  min-height: 100%;
}

hgroup {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  h1 {
    color: #2a3644;
    font-weight: 500;
    font-size: calc(1.625em / 1.15);
    margin-top: 0;
  }

  h2 {
    color: #2a3644;
    font-size: 1.125em;
    margin: 0;
    padding-bottom: 10px;
  }
}

.badges {
  .badge {
    margin-right: 0.5rem;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.card {
  .card-header {

    >a,
    >button {

      &[data-toggle="collapse"],
      &[aria-expanded="false"],
      &.collapsed {
        &:after {
          content: "\f078";
          display: flex;
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          font-size: 1rem;
          margin-left: 0.5rem;
        }
      }

      &[aria-expanded="true"] {
        &:after {
          content: "\f077";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          font-size: 1rem;
          margin-left: 0.5rem;
        }
      }
    }
  }

  .card-body {
    .pagination {
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.ellipsis.ellipsis-text {
  position: relative;

  >p {
    max-height: 240px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    -webkit-overflow-scrolling: touch;
    @include hide-scrollbar ();

    span {
      padding-bottom: 15px;
      margin-bottom: -15px;
    }
  }

  &:after {
    display: block;
    position: absolute;
    content: " ";
    bottom: 0;
    height: 30px;
    width: 100%;
    @include gradient-vertical (rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 20%, 90%);
  }

  .readless,
  .readmore {
    display: none ! important;
  }
}

// SCROLLCONTAINER STYLES
//--------------------------------------------------

.scroll-container {
  $fade-color: color.adjust(color.adjust($content-bg-color, $lightness: -2%), $alpha: -0.4);
  position: relative;

  .scrolling-container {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    @include hide-scrollbar();
  }

  .fade-left,
  .fade-right {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    transition-duration: .3s;
    transform: translateZ(0);
    margin: 0;
    text-align: center;

    &.scrolling {
      visibility: visible;
      opacity: 1;
      transition-duration: .3s
    }

    .fa {
      position: relative;
      top: 5px;
      font-size: 18px;
      color: $primary;
    }
  }

  .fade-left {
    background: linear-gradient(to right, $content-bg-color 45%, $fade-color);
    left: -10px;

    .fa {
      left: -2px
    }
  }

  .fade-right {
    background: linear-gradient(to left, $content-bg-color 45%, $fade-color);
    right: -10px;

    .fa {
      right: -2px
    }
  }
}

// UNSUPPORTED BROWSER WARING
//--------------------------------------------------
.alert.unsupported-browser {
  @extend .alert-warning;
}
