#rc-list {
  table {
    margin-bottom: 0;
    
    & > tbody {
      td {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }

  .pagination {
    margin: 0;
  }
}

#rcOptionMenu + div {
  z-index: 2000;
}

.slot-body {
  .entry-text {
    &[format="html"] {
      @include hyphens();
    }

    img {
      max-width: 100%;
    }

    pre>code {
      white-space: pre-wrap;
    }
  }

  .entry-webLink,
  .entry-file {
    a {
      @include hyphens();
    }
  }
}

#validTo > option.not-setable {
  color: $danger;
}

// Gradients
//-------------------------
@mixin status-gradient ($startFrom , $startTo , $endFrom , $endTo , $ownerTransfer: false) {
  background: transparent;
  @if ($ownerTransfer == true) {
    background: -moz-linear-gradient(left, $startFrom 0%, $startTo 5%, $endFrom 6%, $endTo 10%, #000 11%, rgba(255, 255, 255, 0) 14%);
    background: -webkit-linear-gradient(left, $startFrom 0%, $startTo 5%, $endFrom 6%, $endTo 10%, #000 11%, rgba(255, 255, 255, 0) 14%);
    background: linear-gradient(to right, $startFrom 0%, $startTo 5%, $endFrom 6%, $endTo 10%, #000 11%, rgba(255, 255, 255, 0) 14%);
  } @else {
    background: -moz-linear-gradient(left, $startFrom 0%, $startTo 5%, $endFrom 6%, transparentize($endTo, 1) 10%);
    background: -webkit-linear-gradient(left, $startFrom 0%, $startTo 5%, $endFrom 6%, transparentize($endTo, 1) 10%);
    background: linear-gradient(to right, $startFrom 0%, $startTo 5%, $endFrom 6%, transparentize($endTo, 1) 10%);
  }
}

#slots {
  .slot-active > td:first-child {
    @include status-gradient (#bfd255 , #8eb92a , #72aa00 , #9ecb2d);
  }

  .slot-archived > td:first-child {
    @include status-gradient (#fceabb , #fccd4d , #f8b500 , #fbdf93);
  }

  .slot-free > td:first-child {
    @include status-gradient (#f85032 , #f16f5c , #f6290c , #e73827);
  }

  .slot-reserved > td:first-child {
    @include status-gradient (#e2e2e2 , #dbdbdb , #d1d1d1 , #fefefe);
  }

  .slot-active-ownerTransfer > td:first-child {
    @include status-gradient (#bfd255 , #8eb92a , #72aa00 , #9ecb2d , true);
  }

  .slot-archived-ownerTransfer > td:first-child {
    @include status-gradient (#fceabb , #fccd4d , #f8b500 , #fbdf93 , true);
  }

  .slot-free-ownerTransfer > td:first-child {
    @include status-gradient (#f85032 , #f16f5c , #f6290c , #e73827 , true);
  }

  .slot-reserved-ownerTransfer > td:first-child {
    @include status-gradient (#e2e2e2 , #dbdbdb , #d1d1d1 , #fefefe , true);
  }

  .slot-pending-active > td:first-child {
    @include status-gradient (#ebf1f6 , #abd3ee , #72aa00 , #9ecb2d);
  }

  .slot-pending-archived > td:first-child {
    @include status-gradient (#ebf1f6 , #abd3ee , #f8b500 , #fbdf93);
  }

  .slot-pending-free > td:first-child {
    @include status-gradient (#ebf1f6 , #abd3ee , #f6290c , #e73827);
  }

  .slot-pending-reserved > td:first-child {
    @include status-gradient (#ebf1f6 , #abd3ee , #d1d1d1 , #fefefe);
  }

  .slot-pending-validating > td:first-child {
    @include status-gradient (#ebf1f6 , #abd3ee , #89c3eb , #d5ebfb);
  }
}