@use "sass:color";

// ---------------------------------------------------
// Badges (Results, Metadata)
// ---------------------------------------------------
$badge-state-delete-color: shift-color($danger, -40%);
$badge-state-delete-bg: shift-color($danger, 80%);
$badge-state-delete-span-bg: color.adjust($secondary, $lightness: -80%);
