@use "sass:color";
@use "sass:string";

// ---------------------------------------------------
// animate-sass
// ---------------------------------------------------

$use-fade: true;

// ---------------------------------------------------
// Boostrap Overwrites
// ---------------------------------------------------

$gray-100: #fafafa;
$gray-200: #efefef;
$gray-300: #e6e6e6;
$gray-400: #dadada;
$gray-500: #bdbdbd;
$gray-600: #7d7d7d;
$gray-700: #575757;
$gray-800: #404040;
$gray-900: #292929;
$primary: color.adjust(#008855, $lightness: -1%);
$secondary: $gray-100;
$info: color.adjust(#005588, $lightness: 12%);
$blue:    #1e69d2;
$indigo:  #6c25d0;
$purple:  #b72dd2;
$pink:    #dc387c;
$red:     #df2020;
$orange:  #ed8a26;
$yellow:  #f2c40d;
$green:   $primary;
$teal:    #17cfb0;
$cyan:    #19b3e6;


$color-contrast-dark: $gray-900;
$color-contrast-light: $secondary;


$body-color: $gray-900;

$border-radius-sm: .05rem;
$border-radius:    .1rem;
$border-radius-lg: .2rem;
$border-radius-xl: .4rem;
$border-radius-xxl: .6rem;

$input-focus-border-color: $primary;
$input-fieldset-border-color: color.adjust($primary, $alpha: -0.75);
$input-btn-focus-box-shadow: none;

$enable-shadows: true;

// ---------------------------------------------------
// General
// ---------------------------------------------------

$text-color: $body-color;

$content-padding-top: 15px;
$content-bg-color: #fff;

$body-bg-color: color.adjust($content-bg-color, $lightness: -5%);

// ---------------------------------------------------
// Breadcrumb
// ---------------------------------------------------


$breadcrumb-bg:            #fafafa;
$breadcrumb-divider-color: color.adjust($breadcrumb-bg, $lightness: -40%);
$breadcrumb-active-color:  color.adjust($breadcrumb-bg, $lightness: -40%);
$breadcrumb-divider:       string.quote("/");

// ---------------------------------------------------
// Float Breakpoints
// ---------------------------------------------------

$float-breakpoint: "sm" !default;
$float-breakpoint-max: "md" !default;

// ---------------------------------------------------
// Container
// ---------------------------------------------------
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 740px,
  md: 760px,
  lg: 960px,
  xl: 1240px
);

// ---------------------------------------------------
// Navbar and Searchbar
// ---------------------------------------------------

$navbar-margin: 15px;
$navbar-height: 50px;
$navbar-font-size: 1rem;
$navbar-brand-height: 115px;
$navbar-brand-width: 150px;
$navbar-brand-padding-y: 5px;

$searchbar-padding: 10px;

// ---------------------------------------------------
// Sections (Metadata)
// ---------------------------------------------------

$section-header-bg: $primary;
$section-font-size: 16px;
$section-border: 2px solid $section-header-bg;

// ---------------------------------------------------
// Inputs and Buttons
// ---------------------------------------------------

$input-color: #333;

// ---------------------------------------------------
// Alerts
// ---------------------------------------------------

$alert-info: #f4f8fa;
$alert-warning: #fcf8f2;
$alert-danger: #fdf7f7;
$alert-success: #dff0d8;

$alert-info-color: #5bc0de;
$alert-warning-color: #f0ad4e;
$alert-danger-color: #d9534f;
$alert-success-color: #298703;


// ---------------------------------------------------
// MIR ResultList
// ---------------------------------------------------

$highlight: $primary;
$dark_neutral: $gray-900;
$light_neutral: color.adjust($dark_neutral, $lightness:27%);
$filter_back: $gray-100;
$filter_border: $gray-200;
$filter_headline: $gray-800;
$filter_hits: $gray-700;
$filter: $gray-800;

// ---------------------------------------------------
// Brand colors
// ---------------------------------------------------
$brand-success:      #28A745 !default;
$brand-info:         #17A2B8 !default;
$brand-warning:      #F39C12 !default;
