@use "sass:color";

.video-js {
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);

  &:focus {
    outline-style: none ! important;
    outline-color: transparent ! important;
    outline-width: 0 ! important;
  }

  video {
    margin-bottom: -2px;
  }


  .vjs-poster {
    text-align: center;
    vertical-align: middle;

    >img {
      height: 100%;
    }
  }

  .vjs-big-play-button {
    background-color: color.adjust($primary, $alpha: -0.2);
    border-color: #fff;
    left: 50%;
    margin: -0.75em 0 0 -1.5em;
    top: 50%;

    &:before {
      color: #fff;
    }

    >.vjs-icon-placeholder {
      color: #fff;
    }
  }

  .vjs-control-bar {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: 0px;

    .vjs-icon-placeholder:hover {
      color: $primary;
    }
  }

  .vjs-menu-button-popup {
    .vjs-menu {
      .vjs-menu-content {
        background-color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  .vjs-menu {
    li.vjs-menu-item {
      &:hover {
        background-color: color.adjust($primary, $alpha: -0.8);
        color: $primary;
      }
    }
  }

  .vjs-slider {
    background: color.adjust(#808080, $alpha: -0.4);
  }

  .vjs-play-progress,
  .vjs-volume-level {
    background-color: #000;
  }

  .vjs-load-progress,
  .vjs-load-progress div {
    background: color.adjust($primary, $alpha: -0.6);
  }
}