form {
  .form-control.inline {
    display: inline;
    width: auto;
  }
}

// fix MIR-167
.form-control-feedback {
  pointer-events: auto;
}

.center-vertical > div {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.required:before {
  content:"* ";
}

.required > label:before {
  content:"* ";
}

.input-group > .input-group-addon {
  border-width: 2px 0px;
  top: 0;
}

// --------------------------------------------------
//    mir-fieldset
// --------------------------------------------------

.mir-fieldset-content {
    margin-bottom: 15px;
}

.mir-fieldset-content > .form-group {
    margin-bottom: 0px;
}

.mir-fieldset-legend {
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #CCC;
    border-bottom-left-radius: 10px;
    padding: 3px 3px 3px 21px;
    margin-bottom: 0px;
}

.dateExtended_box .mir-fieldset-legend label {
    font-size: 14px;
}

.mir-fieldset-legend.hiddenDetail {
    border: 0;
}

.personExtended_box .mir-fieldset-legend, .dateExtended_box .mir-fieldset-legend {
    padding-left: 0;
}

.personExtended_box .search-person, .dateExtended_box .mainDate {
    width: 93%;
    margin-right: 2px;
}

div.mir-fieldset-content {
  & > div.form-group {
    & > div.col-md-6 {
      border-style: solid;
      border-width: 0px 0px 0px 2px;
      border-color: #CCC;
      padding-left: 13px;
      padding-bottom: 5px;
    }
    &:first-of-type {
      & > div {
        padding-top: 6px;
      }
    }
    &:last-of-type {
      & > div {
        padding-bottom: 6px;
      }
      & > div.col-md-6 {
        border-bottom-left-radius: 10px;
      }
    }
  }
}

.mainDate.center-vertical>div {
    float: left;
}

.dateExtended_box span.glyphicon{
  margin-top: 3px;
}

/***************************************************/
/* mir relatedItemsearch                           */
/***************************************************/
.mir-relatedItem-body{
  margin-top:15px;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #ccc;
  border-bottom-left-radius: 10px;
}

.mir-relatedItem-head{
  margin-bottom: 15px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px;
  padding-left: 21px;
  font-size:21px;
}

.searchbadge {
  background-color:#FFFFFF !important;
  border-width: 2px 2px 2px 0px !important;
  padding: 1px 15px;
}

.searchbadge {
  background-color:#FFFFFF !important;
  border-width: 2px 2px 2px 0px !important;
}

.searchbadge.disabled {
  background-color:#ECF0F1 !important;
}

.searchbadge, .badge {
    font-size: 13px;
}

.search-person {
  .input-group {
    > a {
      margin-top: -2px !important;   
    }
  
    .feedback {
      font-size: 12px;
    }
  }
}

.relItemsearch {
  border-right-width: 0px !important;
}
