body {
  background-color: $dbt-backgroundColor;
  background-image: url('../../../dbt/images/background.png');
  font-family: $dbt-fontFamily;
  margin: 0;
  padding: 0;
}

// Buttons =================================================================

.btn-default {
  @include dbt-button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
  @include dbt-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-success {
  @include dbt-button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

.btn-info {
  @include dbt-button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

.btn-warning {
  @include dbt-button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

.btn-danger {
  @include dbt-button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// ============================================================================

.text-collapse {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-collapse .collapseOverlay {
  display: block;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  @include gradient-vertical($start-color: rgba(255, 255, 255, 0), $end-color: rgba(255, 255, 255, 1), $start-percent: 20%, $end-percent: 90%);
  @include reset-filter;
}

hgroup {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  &:before , &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  h1 {
    color: #2a3644;
    font-weight: 500;
    font-size: 1.625em / 1.15;
    margin-top: 0;
  }

  h2 {
    color: #2a3644;
    font-size: 1.125em;
    margin: 0;
    padding-bottom: 10px;
  }
}

pre.no-style {
  background: none;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
  font-family: $dbt-fontFamily;
  font-size: inherit;
}

.no-margin {
  margin: 0;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.text-ellipsis {
  max-width: 0;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.scroll-container {
  $fade-color: transparentize(darken($dbt-container-backgroundColor, 2%), 0.4);
  position: relative;
  .scrolling-container {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    @include hide-scrollbar();
  }

  .fade-left , .fade-right {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    margin: 0;
    text-align: center;
    &.scrolling {
      visibility: visible;
      opacity: 1;
      transition-duration: .3s
    }

    .fa {
      position: relative;
      top: 5px;
      font-size: 18px;
      color: $brand-primary;
    }
  }

  .fade-left {
    background: linear-gradient(to right, $dbt-container-backgroundColor 45%, $fade-color);
    left: -10px;
    .fa {
      left: -2px
    }
  }

  .fade-right {
    background: linear-gradient(to left, $dbt-container-backgroundColor 45%, $fade-color);
    right: -10px;
    .fa {
      right: -2px
    }
  }
}

