.panel-result {
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: $table-border-color;
  @include border-top-radius ($panel-border-radius - 1);
  @include border-bottom-radius (0);
  & ~ & {
    border-top: 0;
    @include border-top-radius (0);
  }

  .panel-heading {
    padding: 5px 10px 0 10px;
    .panel-title {
      font-size: ceil(($font-size-base * 0.975));
      a {
        color: $brand-primary;
      }
    }
  }

  .panel-body {
    padding: 5px 10px 5px 10px;
    font-size: ceil(($font-size-base * 0.875));
  }

  .panel-footer {
    padding: 5px 10px 5px 10px;
  }

  &:nth-child(even) {
    background: $dbt-results-backgroundColor;
    .panel-footer {
      background: darken($dbt-results-backgroundColor, 4%);
    }
  }

  &:nth-child(odd) {
    background: darken($dbt-results-backgroundColor, 2%);
    .panel-footer {
      background: darken($dbt-results-backgroundColor, 8%);
    }
  }

  &:last-child {
    border-bottom: 1px solid $table-border-color;
    margin-bottom: $line-height-computed;
    @include border-bottom-radius ($panel-border-radius - 1);
  }
}

// OPC Search Result
.search-result {
  h4 {
    font-weight: 500;
    font-size: 1.0em;
    margin-bottom: 0 ! important;
    margin-top: 0 ! important;
  }

  p {
    font-size: 0.9em;
  }
}

.result_body .result_list { 
  #hit_list {
    $cover-height: 90px;
    $cover-width: 60px;
    .hit_item {
      .hit_item_head {
        .hit_stars {
          width: auto !important;
        }
      }
    
      .hit_options {
        .btn {
          background: transparent;
          border-top-right-radius: 0;
          border: 0;
          @include box-shadow(none);
          
          &:nth-last-child(1) {
            border-top-right-radius: 10px;
          }
        }
      }
    
      .hit_download_box {
        float: left;
        .hit_icon {
          @mixin hitIcon () {
            background-color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $panel-default-border;
            height: $cover-height;
          }
  
          &[style *= "icon_common.png"] {
            background: none ! important;
          }
  
          &[src *= "icon_common_disabled.png"] {
            visibility: hidden;
            @media (max-width: $grid-float-breakpoint-max) {
              display: none;
            }
          }
  
          @media (min-width: $grid-float-breakpoint) {
            @include hitIcon ();
          }
  
          @media (max-width: $grid-float-breakpoint-max) {
            @media (orientation: landscape) {
              @include hitIcon ();
            }
          }
        }
  
        .hit_icon_overlay {
          display: none;
          @mixin hitIconOverlay () {
            &[src $= ".svg"] {
              display: none;
              .vendor-webkit & + span {
                position: absolute;
                top: 5px;
                display: block;
                height: ($cover-height - 10px);
                width: ($cover-width - 10px);
                -webkit-mask-size: ($cover-width - 10px) ($cover-height - 10px);
                background: $brand-primary;
              }
  
              & + svg {
                position: absolute;
                top: 5px;
                & , & div {
                  display: block;
                  height: ($cover-height - 10px);
                  width: ($cover-width - 10px);
                }
  
                & div {
                  background-color: $brand-primary;
                }
              }
            }
          }
  
          @media (min-width: $grid-float-breakpoint) {
            @include hitIconOverlay ();
          }
  
          @media (max-width: $grid-float-breakpoint-max) {
            @media (orientation: landscape) {
              @include hitIconOverlay ();
            }
          }
        }
      }
  
      .hit_tnd_container {
        @media (min-width: $grid-float-breakpoint) {
          margin-left: ($cover-width + 5px);
        }
  
        .hit_tnd_content {
          overflow: hidden;
          overflow-y: hidden;
          overflow-x: visible;
          float: left;
          height: 25px;
          width: 100%;
          white-space: nowrap;
          @include hide-scrollbar ();
          * {
            display: inline;
            margin-right: 5px;
            &:nth-last-child(1) {
              margin-right: 0;
            }
          }
        
          > div {
            float: none;
            &:nth-child(n+1) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
